{% extends 'base.j2' %}
{% import 'macros.j2' as macros %}
{% block body %}
  <h1>Register</h1>
  <form method="POST">
    {{ form.hidden_tag() }}
    {{ macros.render_field(form.username) }}
    {{ macros.render_field(form.password) }}
    {{ macros.render_field(form.repeat_password) }}
    <div class="buttons">
      <input type="submit" value="Register">
    </div>
  </form>
  <p>If you want to login instead,
    <a href="{{ url_for("auth.login") }}">go to the login page</a>.
  </p>
{% endblock %}
