{% extends 'base.j2' %}
{% import 'macros.j2' as macros %}
{% block body %}
  <h1>Set Password</h1>
  <form method="POST">
    {{ form.hidden_tag() }}
    {{ macros.render_field(form.password) }}
    {{ macros.render_field(form.repeat_password) }}
    <div class="buttons">
      <input type="submit" value="Set Password">
    </div>
  </form>
{% endblock %}
